body{
    margin: 10px;
    padding: 0;
}
.firstdiv{
     width: 80%;
    margin: 0 auto;
    
}

section {
    background-color: skyblue;

    border: 5px solid skyblue;
    border-radius: 30px;
    width: 590px;
    margin: 0 auto;
    padding: 0 auto;}

.Header {
    text-align: center;
}

h2 {
    margin: 10px;
}

.Paragraph {
    margin-top: 5px;
    margin-bottom: 20px;
}

.bigbracket{
    padding: 3%;
    width: 80%;
}
.big{
    width: 95%;
     padding: 3%;
}
table {
    width: 100%;
   
}

td {
    padding: 10px;
}

label {
    margin-bottom: 10px;
}
.big1{
    width: 87%;
     padding: 3%;
}
#submitbutton {
    margin: 30px auto;
    padding: 10px 50px;
    background-color: rgb(16, 17, 19);
    color: white;
    border: 2px solid black;
    border-radius: 8px;
    text-align: center;
    margin-left: 150px;
   
} 