* {
    margin: 0;
    padding: 0;
 
    
;
}

body {
    background-color: aliceblue;
    padding: 20px;
   
}

#main {
    background-color: white;
    width: 800px;
    height: 1050px;
    margin: auto;
    display: flex;
     border:5px solid rgb(63, 92, 118);
     border-radius: 5px;
     box-shadow: 2px 0px 3px 0.3px  rgb(63, 92, 118) ;


} 
    

.resume {
    background-color: #3f5c76;
    color:rgb(200, 207, 213);
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
     border:5px solid #3f5c76;

}


#profileimages {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid rgb(0, 0, 0);
   
}

#profileimages img {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    border: 3px solid rgb(9, 8, 8);
}
#profileimages h3{
    color: rgb(209, 212, 199);
}
#profileimages h5 
{
    color: rgb(13, 9, 2);

}

.form-field {
    display:flex;
    flex-direction: column;
    gap: 10px;
}

.form-field h4 {
    color: rgb(194, 120, 23);
   
}
a{
    text-decoration: none;
    color: rgb(195, 199, 201);
}
.form-field span{
    outline: none;
    display: inline-block;
     align-items: baseline;
    flex-direction: column;
    border: none;
    background: transparent;
}



.aboutexp {
    background-color: #e2e8ed;
    color: #333;
    width: 80%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
     border:5px solid #e6e9ec;
    border-radius: 5px;
}

.aboutexp h2 {
    color: rgb(49, 75, 97);
    padding-bottom: 5px;
}


#expriencejorney {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#expriencejorney h5{
     color: #3f5c76;
     font-size: smaller  ;

}
#educationjorney{
  
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#educationjorney h5{
    color:rgb(70, 147, 214) ;
}
.education-left, .education-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* display: flex;
    align-items: baseline;
    gap: 10px;
    flex-direction: column; */
}
#certid{
    font-size: small;
}
