body {
    background-color: rgb(248, 250, 252);
    color: rgb(41, 97, 187);
     text-align: center;
    
    
}       

header {
    background-color: rgb(227, 231, 244);
    border: 3px solid #6366f1;
    border-radius: 15px;
     
}

main {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(203, 213, 225);
    border-radius: 15px;
     
    text-align: left;
}

footer {
    background-color: rgb(241, 245, 249);
    border: 2px solid rgb(203, 213, 225);
    border-radius: 15px;
 


 h2 {
    
    background-color: rgb(226, 232, 240);
    border: 2px solid rgb(148, 163, 184);
    border-radius: 10px;
 
}
}

 

table {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(188, 199, 212);
    border-radius: 10px;
    
      
}

td {
    background-color: rgb(248, 250, 252);
    border: 1px solid rgb(226, 232, 240);
}

td.abc {
    background-color: rgb(255, 255, 255);
    border: none;
}

th {
    background-color: rgb(226, 232, 240);
    border: 1px solid rgb(203, 213, 225);
}

